:root {
    --blk: #0a2527;
    --white:#d9dcd6;
    --grey: #808080;
    --blu: #024e76;
    --side-border: #39a6b2;
    --p-text: #1c8591;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--blk);
    top: 0;
    position: sticky;
}

header h1 {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    margin-left: 25px;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.nav-link {
    color: var(--grey);
    text-decoration: none;
}

.nav-link:hover {   
    color: #F0E68C;
} 

section {
    padding: 10px;
}

.hero {
    height: 60vh;
    background-image: url("../images/hero.jpg"); 
    background-size: cover;
    position: relative;
}

.hero h2 {
    background-color: var(--blk);
    color: var(--white);
    font-size: 25px;
    margin-top: 200px;
    font-style: italic;
    float: right;
}

.profile-photo {
    position: absolute;
    top: 100px;
    left: 25px;
    height: 150px;
    width: 150px;
    border: 5px var(--grey);
    border-style: solid;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 50px;
    width: 80%;
    align-items: center;
}

.side-nav {
    display: flex;
    justify-content: center;
}

.section-title {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    color: var(blu);
    margin: 0 0 0 20px;
    width: 5%;
}

.bio-info {
    flex: 2 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.side-bar1 {
    border-right: 3px solid var(--side-border);
    height: 150px;
    flex: 2 1%;
}
.bio-text {
    flex: 80;
}

.bio-text p {
    color: var(--p-text);
    font-size: 15px;
    text-align: left;
    line-height: 1.5;
    margin-left: 30px;
    width: 100%;
}



